{
    "presets": [
        "@babel/env",
        "@babel/preset-react",
        [
            "@babel/preset-typescript",
            {
                "isTSX": true,
                "allExtensions": true
            }
        ]
    ],
    "plugins": [
        [
        "@babel/transform-runtime",
        {
            "helpers": false
        }
        ],
        "@babel/plugin-syntax-jsx",
        "transform-class-properties"
    ],
    "exclude": "node_modules/**"
}